:root {
	--green: #ac0;
	--blue: #357da2;
	--red: #d44;
	--yellow: #fc3;
	--teal: #35c2cb;
	--purple: #a235cb;
	--pink: #f7b;
	--lime: #7fdc3a;
	--banana: #c7dc3a;
	--skyblue: #2fc9e0;
	--tangerine: #e0552f;
	--grey: #888;
	--light-grey: #e6e6e6;
	--dark: #111;
	--darkblue: #122c4c;
	--white: #fff;
}

/** Progress Circle **/
.moxy-progress-circle {
	transform: rotate(-90deg);
}

.moxy-progress-circle_value {
	stroke-dasharray: var(--circle-radius);
	stroke-dashoffset: var(--circle-radius);
	animation: moxy-progress-circle_animation 2s var(--circle-animation);
}

.moxy-progress-circle_complete {
	animation: moxy-progress-circle_complete 2s var(--circle-animation);
}

@keyframes moxy-progress-circle_complete {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes moxy-progress-circle_animation {
	from {
		stroke-dashoffset: var(--circle-radius);
	}
	to {
		stroke-dashoffset: 0;
	}
}

/** Bar chart **/
.chart-row {
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}
.chart-inner {
	position: relative;
}
.chart-inner h3 {
	margin-bottom: 10px;
}
.chart-inner span {
	display: inline-block;
	font-size: 10px;
	padding-left: 5px;
	margin-bottom: 2px;
}
.chart-bar {
	border: 2px solid rgba(255, 255, 255, 1);
	display: inline-block;
	height: 16px;
	color: #fff;
}
.chart-bar:hover {
	box-shadow: 2px 2px 4px #888888;
}
.chart-column {
	display: inline-block;
}

.chart-inner .pie-inner {
	position: relative;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
}

.chart-inner .legend .key {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
}

.chart-inner .legend label {
	display: block;
}

.chart-inner.bar-chart .legend span {
	width: 48px;
	text-align: center;
}
.chart-inner.bar-chart .chart-column {
	margin: 0 15px;
}
.chart-inner.bar-chart .chart-column .chart-bar {
	width: 20px;
}

/** Pie chart **/
.chart-inner.pie-chart-svg {
	position: relative;
}
.chart-inner.pie-chart-svg svg circle {
	fill: transparent;
	stroke-width: calc(var(--circle-width) / 2);
	transition: stroke-dasharray 3s ease;
}

.chart-inner.pie-chart-svg svg {
	position: absolute;
	margin: 0 auto;
	transform: rotate(-90deg);
	background: transparent;
	border-radius: 50%;
	display: block;
}

.chart-inner.pie-chart .legend,
.chart-inner.pie-chart-svg .legend {
	position: absolute;
	top: 32px;
	right: 0;
	width: 100px;
}

.pie {
	display: inline-block;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	border: 0.15em solid #fff;
	box-shadow: 0 0.075em 0.2em 0.05em rgba(0, 0, 0, 0.25);
	background-origin: border-box;
}

/** Table **/
.moxy-table {
	color: #444;
	width: 100%;
	border-spacing: 0;
}
.moxy-table thead {
	background-color: #eee;
	text-align: left;
}
.moxy-table th,
.moxy-table td {
	padding: 4px;
}
.moxy-table tr:nth-child(odd) {
	background-color: #fafafa;
}
.moxy-table tr td {
	border-bottom: 1px solid #ddd;
}
.moxy-table thead th {
	font-weight: normal;
}

.moxy-table tbody tr:hover {
	background-color: #fff;
}

.moxy-table th[data-sort-dir='asc']:after {
	font-size: 21px;
	position: absolute;
	right: 0;
	top: -10;
	content: '\1F891';
	float: right;
}
.moxy-table th[data-sort-dir='desc']:after {
	font-size: 21px;
	position: absolute;
	right: 0;
	top: 8px;
	content: '\1F893';
	float: right;
}

.moxy-table .resizer {
	top: 0;
	right: 0;
	width: 5px;
	position: absolute;
	cursor: col-resize;
	user-select: none;
}

.moxy-table *,
.moxy-table *::before,
.moxy-table *::after {
	box-sizing: border-box;
}
.moxy-table {
	border-collapse: collapse;
}
.moxy-table .columnSelector:hover {
	border-right: 2px solid var(--theme);
}

/** Tree Map **/
.chart-treemap {
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.chart-treemap div {
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 2px 1px 3px #000;
}

/** Loading bar **/
.moxy-loading-bar {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 1.5s;
	background-color: #eee;
	width: 100%;
	height: 3px;
}

.moxy-loading-bar .track {
	background-color: var(--track-color);
	height: 3px;
}

.moxy-fade {
	opacity: 0;
}

/** Linear chart **/
.moxy-linechart .grid {
	stroke: white; /* Change this based on color? */
	stroke-dasharray: 1 2;
	stroke-width: 1;
}

.moxy-linechart .points {
	stroke: white;
	stroke-width: 3;
}

.moxy-linechart .surfaces {
	fill-opacity: 0.5;
}

.moxy-linechart .grid.double {
	stroke-opacity: 0.4;
}

.moxy-linechart .labels {
	font-family: Arial;
	font-size: 14px;
	kerning: 1;
}

.moxy-linechart .labels.x-labels {
	text-anchor: middle;
}

.moxy-linechart .labels.y-labels {
	text-anchor: end;
}

/** Calculator **/
.moxy-calculator {
	border: 1px solid #ddd;
	transition-duration: 1s;
	transition-property: border;
	width: 100%;
	height: 100%;
}
.moxy-calculator:hover {
	border: 1px solid var(--theme);
}
.moxy-calculator:focus {
	outline: 0px solid transparent;
}
.calc-window {
	overflow-x: hidden;
	overflow-y: hidden;
	width: calc(100% - 34px);
	text-align: right;
	padding: 16px;
	border: 1px solid #eee;
	border-width: 0 0 1px 0;
	height: 20px;
	position: relative;
}
.moxy-calculator .operator.sqr {
	line-height: 10px;
	height: 21px;
}
.calc-window .history {
	width: 9999px;
	right: 0;
	color: #ccc;
	font-size: 11px;
	position: absolute;
	top: 0;
}
.calc-window .current {
	font-size: 15px;
	box-shadow: 4px 4px 6px #fafafa;
}
.moxy-calculator .operators {
	float: right;
	width: 20%;
}
.moxy-calculator .operators .operator {
	cursor: pointer;
	transition-duration: 0.5s;
	transition-property: border;
	border: 1px solid #eee;
	padding: 4px;
	margin: 4px 4px 8px;
	text-align: center;
	user-select: none;
}

.moxy-calculator .numbers {
	float: left;
	width: 80%;
}

.moxy-calculator .numbers .number,
.moxy-calculator .numbers .operator {
	transition-duration: 0.5s;
	transition-property: border;
	user-select: none;
	cursor: pointer;
	float: right;
	width: calc(29% - 12px);
	margin: 4px;
	text-align: center;
	padding: 4px;
	border: 1px solid #eee;
}

.moxy-calculator .operators .operator:hover,
.moxy-calculator .numbers .number:hover,
.moxy-calculator .numbers .operator:hover {
	border: 1px solid var(--theme);
}

/*** Calendar ***/

.moxy-calendar .calendar-header {
	border-right: 1px solid var(--light-grey);
	padding: 10px 0;
}
.moxy-calendar {
	border: 1px solid var(--light-grey);
	border-width: 1px 0 1px 1px;
	font-family: 'Trebuchet MS';
	font-size: var(--fontSize);
}
.moxy-calendar .previous {
	padding: 0 10px 0 0;
	float: left;
	color: #888;
	transform: scale(-1, 1);
	cursor: pointer;
}
.moxy-calendar .next {
	color: #888;
	padding: 0 10px 0 0;
	float: right;
	cursor: pointer;
}
.moxy-calendar .month-year {
	color: var(--theme);
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}
.moxy-calendar .calendar-days {
	border: 1px solid var(--light-grey);
	border-width: 0 1px 1px 0;
}
.moxy-calendar .calendar-days span {
	margin: 0;
	padding: 0;
	color: var(--theme);
	width: calc(100% / 7 - 4px);
	display: inline-block;
	text-align: center;
}
.moxy-calendar .calendar-cells {
	border: 1px solid var(--light-grey);
	border-width: 0 0 0 1px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.moxy-calendar .cell {
	cursor: pointer;
	margin: 0;
	padding: 0;
	width: calc(100% / 7 - 1px);
	height: var(--cellHeight);
	border: 1px solid var(--light-grey);
	border-width: 0 1px 1px 0;
	display: inline-block;
}
.moxy-calendar .cell.prevMonth {
	background-color: #fafafa;
}
.moxy-calendar .cell span {
	padding: 4px;
}

.moxy-calendar .cell.special {
	background-color: #eaf9ff;
}
.moxy-calendar .cell:hover {
	background-color: #fafafa;
}

.moxy-calendar .event.hidden {
	display: none;
}

.moxy-calendar .event {
	font-size: 11px;
	width: 100%;
	margin-top: 1px;
	padding: 3px 0;
	text-align: center;
	cursor: pointer;
	background-color: var(--theme);
	color: var(--textColor);
	max-height: 10px;
	overflow: hidden;
}

/** Moxy Dropdown **/
.moxy-dropdown {
	position: relative;
}

.moxy-dropdown-input {
	width: calc(100%);
	padding: 8px 4px;
	height: 30px;
	border: 1px solid #ddd;
}
.moxy-dropdown-select {
	float: right;
	position: absolute;
	top: 2px;
	cursor: pointer;
	color: var(--theme);
	font-size: 34px;
	font-family: 'Comic Sans MS';
	right: 5px;
}
.moxy-dropdown select {
	display: none;
	width: 100%;
	padding: 8px 0;
}
.moxy-dropdown ul {
	margin: 0;
	padding: 0;
	width: calc(100%);
	z-index: 3;
	position: absolute;
	background-color: #fff;
}
.moxy-dropdown li {
	list-style: none;
	user-select: none;
	padding: 8px;
	border-bottom: 1px solid #eee;
	margin: 0;
}
.moxy-dropdown li.active {
	background-color: var(--backgroundColor);
	color: #fff;
}
.moxy-dropdown li:hover {
	cursor: pointer;
	background-color: var(--backgroundColor);
	color: #fff;
}
.moxy-dropdown .hidden {
	display: none;
}
